@model ProductManagement.MVC.ViewModels.Companies.CompanyViewModel

@{
    ViewBag.Title = "Details";
}

<div>Kompaniya haqida ma'lumot</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>

    </dl>
</div>
<p>

    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager"))
    {
        <a class="btn btn-primary" href='@Url.ActionLink("Edit", "Company", new { id = Model.CompanyId })'> Tahrirlash </a>
    }
    @Html.ActionLink("Kompaniyalar sahifasiga qaytish", "Index")
</p>