@model ProductManagement.MVC.ViewModels.Companies.CompanyViewModel

@{
    ViewBag.Title = "Details";
}

<div>Details</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")*@

    @if ((User.IsInRole("SuperAdmin1") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin")))
    {
        <a class="btn btn-primary" href='@Url.ActionLink("Edit", "Edit", new { id = Model.CompanyId })'> Edit </a>
    }

    @*else if (User.IsInRole("SuperAdmin"))
    {
        <a class="btn btn-primary" href='@Url.ActionLink("EditStatus", "Order", new { id = Model.OrderId })'> Edit </a>
    }
    <a class="btn btn-primary" href='@Url.ActionLink("Index", "Order", new { id = Model.OrderId })'> Back to List </a>*@
</p>