@model IEnumerable<ProductManagement.MVC.ViewModels.Companies.CompanyViewModel>

@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kompaniyalar ro'yxati</h2>

@if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Kompaniya yaratish", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>

                @if ((User.IsInRole("SuperAdmin") || User.IsInRole("Manager")))
                {
                    <a href='@Url.ActionLink("Edit", "Company", new { id = item.CompanyId })'> Tahrirlash | </a>
                }              
                @Html.ActionLink("Ma'lumot", "Details", new { id = item.CompanyId  })
                @if (User.IsInRole("SuperAdmin"))
                {
                    @Html.ActionLink("O'chirish", "Delete", new { id = item.CompanyId })
                }

            </td>
        </tr>
    }

</table>