@model ProductManagement.MVC.ViewModels.Order.OrderViewModel

@{
    ViewBag.Title = "Details";
}

<div>Order Details</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.High)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.High)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @if ((User.IsInRole("SuperAdmin") || User.IsInRole("Manager")) && Model.Status != ProductManagement.MVC.Enums.OrderStatus.Completed)
    {
        <a class="btn btn-primary" href='@Url.ActionLink("Edit", "Order", new { id = Model.OrderId })'> Edit </a>
    }
    else if (User.IsInRole("SuperAdmin") || User.IsInRole("Worker"))
    {
        <a class="btn btn-primary" href='@Url.ActionLink("Edit", "Order", new { id = Model.OrderId })'> Edit </a>
    }
    <a class="btn btn-primary" href='@Url.ActionLink("Index", "Order", new { id = Model.OrderId })'> Back to List </a>
</p> 