@model IEnumerable<ProductManagement.MVC.ViewModels.Order.OrderViewModel>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buyurtmalar ro'yxati</h2>

@if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Buyurtma yaratish", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @if (User.IsInRole("Manager") && item.Status != ProductManagement.MVC.Enums.OrderStatus.Completed && item.Status != ProductManagement.MVC.Enums.OrderStatus.Canceled)
                {
                    <a href='@Url.ActionLink("Edit", "Order", new { id = item.OrderId })'> Tahrirlash | </a>
                }
                else if (User.IsInRole("Worker") && item.Status != ProductManagement.MVC.Enums.OrderStatus.Completed && item.Status != ProductManagement.MVC.Enums.OrderStatus.Canceled)
                {
                    <a href='@Url.ActionLink("EditStatus", "Order", new { id = item.OrderId })'> Tahrirlash | </a>
                }
                @Html.ActionLink("Ma'lumot", "Details", new { id = item.OrderId  })
                @if (User.IsInRole("SuperAdmin"))
                {
                   @Html.ActionLink("O'chirish", "Delete", new { id = item.OrderId })
                }
            </td>
        </tr>
    }

</table>