@model IEnumerable<ProductManagement.MVC.ViewModels.Order.OrderViewModel>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @if ((User.IsInRole("SuperAdmin") || User.IsInRole("Manager")) && item.Status != ProductManagement.MVC.Enums.OrderStatus.Completed)
                {
                    <a href='@Url.ActionLink("Edit", "Order", new { id = item.OrderId })'> Edit | </a>
                }
                else if (User.IsInRole("SuperAdmin") || User.IsInRole("Worker"))
                {
                    <a href='@Url.ActionLink("Edit", "Order", new { id = item.OrderId })'> Edit | </a>
                }
                @Html.ActionLink("Details", "Details", new { id = item.OrderId  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>